.header-container {
    .message:not(:last-child) {
        margin-bottom: 4px;
    }
    
    .message-header {
        background-color: #4f2cb5 !important;
        i {
            margin: 0 14px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                &::before {
                    color: #fb009a;
                }
            }
        }
    }
}
.nav {
    .nav-item a, a.nav-item {
        font-size: 18px;
        color: #111;
        font-weight: bold;
        &:hover {
            color: #fb009a;
            cursor: pointer;
        }
    }
    .nav-item {
        img {
            max-height: inherit !important;
        }
    }
}
#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}