body {
	font-family: 'Economica', sans-serif !important;
}
@import '../../components/header/Header';
@import '../../components/hero-banner/HeroBanner';
@import '../../components/thumb-gallery/ThumbGallery';
@import '../../components/photo-grid/PhotoGrid'